backports.weakref==1.0rc1
beautifulsoup4==4.6.0
bleach==1.5.0
boto==2.48.0
bz2file==0.98
certifi==2017.7.27.1
chardet==3.0.4
cssselect==1.0.1
cycler==0.10.0
feedfinder2==0.0.4
feedparser==5.2.1
gensim==2.3.0
html5lib==0.9999999
idna==2.5
jieba3k==0.35.1
Keras==2.0.6
lxml==3.8.0
Markdown==2.6.8
matplotlib==2.0.2
newspaper3k==0.2.2
nltk==3.2.4
numpy==1.13.1
olefile==0.44
pandas==0.20.3
Pillow==4.2.1
protobuf==3.3.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
requests==2.18.2
requests-file==1.4.2
scikit-learn==0.18.2
scipy==0.19.1
six==1.10.0
sklearn==0.0
smart-open==1.5.3
tensorflow==1.15.4
Theano==0.9.0
tldextract==2.1.0
urllib3==1.22
Werkzeug==0.12.2
